<%- include('includes/header') %>
<%- include('includes/upperHeader') %>
  <h1 class="text-center"> Read file- <%=title%> </h1>
<br>

<div class="container">
<h1 class="text-center">CONTENT</h1>

<p class="text-center"><%=con%></p>

</div>
    <%- include('includes/body') %>